<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.msy.boot.mapper.GcMapper">
    <update id="recoverData" parameterType="org.msy.boot.entity.Gc">
        update ${from_table}
        set is_deleted = 0 , delete_time = null
        where ${primary_key} = #{uid}
    </update>
    <delete id="finalDelete" parameterType="org.msy.boot.entity.Gc">
        delete from ${from_table}
        where ${primary_key} = #{uid}
    </delete>

    <select id="getGc" resultType="java.util.Map">
        select 'sys_user' as from_table ,
               'uid' as primary_key,
               concat('用户名:',username) as title,
               uid,
               delete_time
        from _user
        where is_deleted = 1
        union all
        select 'sys_menu' ,
               'mid',
               concat('菜单名:',m_name),
               mid,
               delete_time
        from menu
        where is_deleted = 1

    </select>
</mapper>